# Total Adjusted Carbon Offset by State  
This plot shows the potential total carbon offset of each state if the potential roofs had solar panels. It's created with the base data found within Google's Project Sunroof dataset and modified to account for how much each state already uses carbon free energy sources. As an example, if 50% of California's energy already came from carbon free sources than their potential carbon offset isn't 6.71e+07 metric tons, as stated in the dataset. The data what percent of power is produced by carbon free sources comes from the EPA. Currently these plots assume that carbon based power sources emit the same amount of CO2 per BTU, which is not true. With more time, these factors will be taken into account.  
  
As this is the first file using adjusted carbon offset, the work will be shown here and saved as a new csv file for ease of use in further plots.

In [5]:
#Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [6]:
#Import project sunroof data into pandas from CSV.
sunroof_state = '../Resources/ProjectSunroofClean/project-sunroof-state-clean.csv'
sunroof_state_df = pd.read_csv(sunroof_state)

sunroof_state_df.head()

,region_name,state_name,lat_max,lat_min,lng_max,lng_min,lat_avg,lng_avg,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,...,yearly_sunlight_kwh_n,yearly_sunlight_kwh_s,yearly_sunlight_kwh_e,yearly_sunlight_kwh_w,yearly_sunlight_kwh_f,yearly_sunlight_kwh_median,yearly_sunlight_kwh_total,install_size_kw_buckets_json,carbon_offset_metric_tons,existing_installs_count
0,Alabama,Alabama,35.005379,30.187624,-84.923721,-88.461943,32.962501,-86.802506,1079.872921,814213,...,1.460000e+09,5.340000e+09,3.430000e+09,3.830000e+09,1.070000e+10,15195.989550,2.480000e+10,"[[0,111567],[5,206260],[10,181889],[15,123319]...",1.580000e+07,547
1,Alaska,Alaska,71.335131,51.851636,-130.025342,-176.657408,61.325551,-148.773093,732.619334,57169,...,3.113258e+06,2.230000e+08,1.060000e+08,1.090000e+08,6.520000e+08,7609.978925,1.090000e+09,"[[0,10460],[5,20120],[10,11761],[15,4920],[20,...",4.499588e+05,83
2,Arizona,Arizona,37.000820,31.332926,-109.045425,-114.791532,33.392174,-111.898114,1368.533301,1754534,...,2.170000e+09,1.420000e+10,8.280000e+09,1.120000e+10,2.330000e+10,24790.646570,5.910000e+10,"[[0,118909],[5,314792],[10,420363],[15,362641]...",2.540000e+07,39725
3,Arkansas,Arkansas,36.499169,33.005628,-89.714810,-94.616811,35.173118,-92.745107,1070.274809,370016,...,5.470000e+08,2.450000e+09,1.400000e+09,1.740000e+09,5.230000e+09,15056.125950,1.140000e+10,"[[0,51852],[5,90815],[10,83681],[15,56677],[20...",7.162306e+06,239
4,California,California,42.004920,32.534985,-114.132439,-124.399012,35.721188,-119.507298,1295.254244,8617880,...,1.300000e+10,5.870000e+10,3.370000e+10,4.370000e+10,9.420000e+10,17967.201640,2.430000e+11,"[[0,1134554],[5,2249993],[10,2000657],[15,1412...",6.710000e+07,331810

In [7]:
#Import power source data into pandas from CSV.
power_source = '../Resources/OtherData/power_sources_by_state.csv'
power_source_df = pd.read_csv(power_source)

power_source_df.head()

,State,Abbreviation,Nameplate Capacity (MW),Net Generation (MWh),Coal,Oil,Gas,Other Fossil,Nuclear,Hydro,Biomass,Wind,Solar,Geo- thermal,Other unknown/ purchased fuel,Carbon Sources
0,Alabama,AL,"38,354",1.428632e+08,24.0,0.0,40.5,0.0,27.9,5.2,2.3,0.0,0.0,0.0,0.0,66.8
1,Alaska,AK,"3,439",6.335034e+06,9.4,13.1,48.0,0.0,0.0,26.2,0.7,2.7,0.0,0.0,0.0,71.1
2,Arizona,AZ,"40,135",1.087346e+08,28.0,0.0,31.4,0.0,29.8,6.6,0.2,0.5,3.4,0.0,0.0,59.6
3,Arkansas,AR,"19,536",6.044506e+07,39.4,0.1,30.1,0.0,22.2,6.0,2.3,0.0,0.0,0.0,0.0,71.8
4,California,CA,"106,793",1.973238e+08,0.2,0.1,49.2,0.7,9.6,14.5,3.1,6.8,9.8,5.8,0.2,53.5

In [ ]:
#Reindex sunroof_state_df to just be state name and carbon offset.

In [ ]:
#Reindex power_source_df to just be state name and Carbon sources. Also divide Carbon Sources by 100 to get the percent value.

In [ ]:
#Multiply carbon offset and carbon sources to get the adujsted carbon offset, and save as a CSV file.

In [ ]:
#Bar chart of Total Adjusted Carbon Offset by State, and save as a png file.